<%= form_with(model: [@category, @product, variant]) do |form| %>
  <% if variant.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
        <% variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: :any %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
