<tr>
  <% unless @category.present? %>
    <td><%= product.category.name %></td>
  <% end %>

  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= product.variants.size %></td>
  <td><%= product.ratings.size %></td>
  <td><%= (product.ratings.average(:star) || 0.0).floor(1) %></td>
  <td><%= product.users.include?(current_user) ? 'Read' : 'Unread' %></td>

  <td><%= link_to 'Show', category_product_path(product.category, product) %></td>

  <% if can? :edit, product %>
    <td><%= link_to 'Edit', edit_category_product_path(product.category, product) %></td>
  <% end %>

  <% if can? :destroy, product %>
    <td><%= link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
